body{
	background-image: url("12.jpg");
	background-size: cover;
}

h1{
	width: 480px;
	text-align: center;
	margin: 60px auto;
	font-family: arial;
	color: #DB7093;
	text-shadow: 0 0 10px black;
}

p{
	color: #DB7093;
	font-size: 30px;
}

h1::after {
	content: '|';
	opacity: 1;
	margin-left: 5px;
	display: inline-block;
	animation: blink .7s infinite;
}

@keyframes blink{
	0%, 100%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
}

header{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #FFB6C1;
	width: 100%;
	justify-content: space-around;
	border-radius: 90px;
	}

	li{
	display: inline-block;
	margin: 20px;
}

ul{
	list-style: none;
	display: flex;
	align-items: center;
}

a{
	text-decoration: none;
	color: white;
	font-family: arial black;
	margin: 90px;

}

a:hover{
	background-color: white;
	color: #FFB6C1;
}